html
  head
    title card
  body
    form(action="/card", method="POST")
      div
        input(name = "name")
        button(type = "submit") Create new card
    form(action="/card/remove", method="POST")
      div
        input(name = "name")
        button(type = "submit") Delete this card
    div
      each card in cards
        li #{card.name}
      else
        li No cards on list
