doctype html
html
  head
    title Hello Magic
  body
    img(src = "mtg.jpg", alt = "Magic The Gathering")
    p.greetings#people #{object.name}
    p.greetings#number #{object.number}
    img(src = "static/bolas.jpg", alt = "Magic The Gathering")
